body{
 background-color: rgb(244, 241, 236);
}

.container{
    height: 80vh;
    width: 40vw;
    border-radius: 5px;
    background-color: white;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

